* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6d4cb;
}

* {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}


/*------ NAVBAR -------*/

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo a {
    text-decoration: none;
    font-size: 3em;
    margin-left: 1em;
    color: #101323;
}

.icon {
    margin-left: 88%;
    margin-top: -4%;
}

.icon-btn {
    margin: 1em;
}

.icon-btn img {
    width: 45px;
    height: 45px;
}


/*------ END OF NAVBAR -------*/


/*------ HEADER SECTION ------*/

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-banner {
    background-image: url("../images/model.png");
    background-size: cover;
    margin-top: 2em;
    height: 830px;
    width: 100%;
}

.header-banner img {
    height: 66.4%;
    width: 100%;
}

.header-info {
    margin-top: 300px;
    margin-left: 250px;
}

.header-info p {
    color: #d6d4cb;
    font-size: 3.3em;
}

.header-info h1 {
    color: #b76262;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: #711919;
    border: 3px solid #d6d4cb;
    color: #d6d4cb;
    padding: 10px 40px;
    margin: 80px 0;
    margin-left: 0.1em;
    margin-bottom: 2em;
    border-radius: 30px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #881c1c;
}


/*------ END OF HEADER SECTION ------*/


/*------ FEATURED BANNERS -------*/

.featured-section {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
}

.categories {
    overflow: hidden;
}

.categories figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
    height: 300px;
}

.categories figure img {
    width: 20%;
    float: left;
}


/*------ FEATURED PRODUCT -------*/

.featured-prod-section {
    max-width: 1080px;
    margin: auto;
}

.col-4 {
    border-radius: 1em;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 img {
    background-size: cover;
    height: 290px;
    width: 100%;
    border-radius: 1em;
    justify-items: center;
    transition: 0.5s ease-in;
}

.col-4 img:hover {
    filter: brightness(50%);
}

s {
    text-decoration: line-through;
}

.title {
    position: relative;
    color: #711919;
    text-align: center;
    margin: 0 auto 80px;
    font-size: 2em;
    line-height: 60px;
}

.title::after {
    content: "";
    background: #101323;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.title-2 {
    position: relative;
    color: #711919;
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
}

.title-2::after {
    content: "";
    background: #101323;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #b76262;
    font-size: 0.9em;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #b89d05;
}

.small-container {
    margin: auto;
    max-width: 1120px;
    padding-left: 25px;
    padding-right: 25px;
}


/*------ FOOTER -------*/

.footer {
    font-family: "Open Sans", sans-serif;
    background: #711919;
    color: #cfb9b9;
    padding: 45px 0 10px;
}

.footer p {
    margin-left: 1.1em;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    float: left;
    width: 33.33%;
    min-width: 250px;
    margin-bottom: 20px;
    font-size: 1em;
}

.app-btn {
    margin: 0.8em;
}

.app-btn img,
.download-app-logo img,
.follow-app-logo img,
.payment-app-logo img {
    margin-top: 1em;
    width: 45px;
    height: 45px;
    filter: grayscale(1);
    transition: 0.5s;
}

.app-btn img:hover,
.download-app-logo img:hover,
.follow-app-logo img:hover,
.payment-app-logo img:hover {
    filter: grayscale(0);
}

.footer hr {
    border: none;
    background: #101323;
    height: 1px;
    margin: 10px 0;
}

.copyright {
    text-align: center;
}


/*------ PRODUCTS PAGE -------*/

.row-2 {
    justify-content: center;
    margin: 100px auto 50px;
    font-size: 2em;
    color: #711919;
    line-height: 60px;
}

select {
    border: 1px solid #711919;
    padding: 5px;
}

select:focus {
    outline: none;
}

.buttons {
    text-align: right;
    padding-bottom: 40px;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    padding: 12px 20px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}


/*------- PRODUCT DETAILS -----*/

.single-product {
    margin-top: 80px;
}

.single-product .product-section {
    background-color: whitesmoke;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    font-size: 0.8;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    margin: 1em;
    font-size: 20px;
    border: 1px solid #101323;
    transition: 0.4s ease-in-out;
}

input[type="number"] {
    font-size: 14px;
    padding: 10px;
    transition: 0.4s ease-in-out;
}

input[type="number"]:focus {
    border-radius: 1em;
    background-color: rgb(163, 58, 58);
    color: white;
    outline: none;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.col-2 h3 .fa {
    color: #ff523b;
}

.price {
    font-size: 26px;
}


/*----- CART --------*/

.cart-section {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #d6d4cb;
    background: #101323;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td a {
    color: #711919;
    font-size: 16px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    color: #711919;
}

.total-price table {
    border-top: 3px solid #101323;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}


/*------ PLACE ORDER -------*/

.order-info {
    text-align: center;
    margin-bottom: 15em;
}

.order-info h1 {
    color: #711919;
    margin-top: 6em;
}

.order-info p {
    color: #101323;
}

.order-info a {
    border: 3px solid #101323;
    background-color: #711919;
    color: #d6d4cb;
    padding: 10px;
    border-radius: 2em;
}

.order-btn {
    margin-top: 4em;
    margin-bottom: 2em;
}


/*------ KEYFRAMES -------*/

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
}